<div class='container'>
  <div class='row'>
    <h1 class="px-3 mx-auto">Welcome to </i><strong>Pachinkasu</strong>!</h1>
  </div>
  <p class="text-center pt-2">
    Pachinkasはパチンコユーザーが気軽に交流できるSNSです。</br>
    自身の遊戯体験を他のユーザーと共有したり、気になる遊技台やお店の情報集めなど用途は様々です。</br>
    あなたのパチンカスライフを豊かにしましょう！
  </p>
</div>